/*************************
       loading
*************************/
#preloader{background:#343434 !important; bottom:0; height:100%; left:0; overflow:hidden !important;  position:fixed; right:0; top:0; width:100%; z-index:99999; text-align:center;}
.clear-loading { text-align: center;  position: absolute; top: 50%; left: 50%; margin-left: -152px; -webkit-box-sizing: border-box;-moz-box-sizing: border-box; -ms-box-sizing: border-box; -o-box-sizing: border-box; display:inline-block;  text-align:center; transform: translateY(-50%); -webkit-transform: translateY(-50%); -o-transform: translateY(-50%); -moz-transform: translateY(-50%); -ms-transform: translateY(-50%);}

/*Loading Effect */
.loading-effect{width:350px; height:350px;}
.loading-effect span{float:left; margin-top:28px;}
.loading-effect img {width: 300px;}
.font-23 {
    font-size: 23px !important;
}
ul li {
    list-style: none;
}
/*-----------Slider --------------*/

.carousel-caption-text{
    position: absolute;
    right: 15%;
    top: 35%;
    left: 15%;
    z-index: 10;
    padding-top: 20px;
    padding-bottom: 20px;
    color: #fff;
    text-align: center;
}
header#menu{
    position: absolute;
    top:0;
    z-index: 999;
    width: 100%;
}
#slider .setting{
    position: absolute;
    right: 62px !important;
    bottom: 0;

}
#slider .setting,ul{
    padding: 0;
    margin: auto;
}
#slider .setting > ul  li{
    float: left;
    list-style: none;
    margin: 0 10px;
}
#slider .setting > ul > li > span{
    padding: 30px 35px;
}
#slider .setting > ul > li {
    -webkit-transition: -webkit-transform .4s ease, visibility .4s ease, opacity .4s ease, background-color .4s ease;
    transition: transform .4s ease, visibility .4s ease, opacity .4s ease, background-color .4s ease;
    /* display: inline-block; */
    /* vertical-align: middle; */
}
#slider .setting ul li:hover{
    background-color: #000;
    color: #fff;
    opacity: 0.5;
}

#slider #music-list{
    position: absolute;
    bottom: 70px;
    width: 29%;
    z-index: 1;
    height: 200px;
    right: 79px;
    background-color: #fff;
    border-radius: 10px;
    -webkit-box-shadow: 0 2px 6px 0 rgba(227,234,239,.5);
    box-shadow: 0 2px 6px 0 rgba(227,234,239,.5);
}
#music-list h4{
    margin: 0;
}
#music-list ul.music-list-conten{
    height: 146px;
    padding: 15px 22px;
    overflow: scroll;
}
#music-list ul.music-list-conten li {
    list-style: none;
}#music-list ul.music-list-conten li a{
     text-decoration: none;
     color: #333;
 }
#music-list ul.music-list-conten li a:hover{
    color: #ff0000;
}
#music-list ul.music-list-conten a:before {
    content: url('../images/icon/icons8-next-button-16.png');
    position: absolute;
    left: 0px;
    margin-top: 3px;
}
#music-list > .view-music  {
    height: 54px;
    padding: 0 56px;
    background: #eff3f4;
}
.music-play{
    background-image: url('../images/play-icon/play.png');
}

/*-----------background icon --------------*/
.prev{
    background-image: url('../images/icon/icons8-prev.png');

}
.pause{
    background-image: url('../images/icon/icons8-pause.png');

}
.next{
    background-image: url('../images/icon/icons8-next.png');

}
.nav-icon{
    background-image: url('../images/icon/icons8-compass-64.png');

}
.music-list-icon{
    background-image: url('../images/icon/play-muice.png');

}
.prev,.pause,.next,.nav-icon,.music-list-icon{

    display: inline-block;
    width: 20px;
    height: 20px;
    background-size: 100% 100%;
}


/*-----------background Message --------------*/
.modal-bg{
    background-color: rgba(255,0,0,0);
    border: none;
}
.modal-bg .bg-message{
    background-image: url('../images/message/red-message.png');
    background-size: 100% 100%;
    display: inline-block;
    height: 400px;
}
.modal-bg .bg-message .message-love{
    position: absolute;
    height: 130px;
    width: 343px;
    right: 16%;
    bottom: 40%;
    border-radius: 5%;
    padding: 6px;
    overflow: scroll;
    color: #fff;
}

.modal-bg .bg-message .message-love-sent{
    position: absolute;
    z-index: 999;
    bottom: 26%;
    left: 26%;
    width: 250px;
}
.modal-bg .bg-message .message-love-sent ul li {
    float: left !important;
}
/* --- sent image message*/
a.s> input{
    display: none;
}
a.s > label{
    margin-bottom: 0 !important;
}
a.s > i {
    cursor: pointer;
}
